* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #faebd7;
}
main {
    display: flex;

}

div {
    width: 200px;
    height: 200px;
}

#box1 {
    height: 200px;
    width: 200px;
    background-color: #059905
}

#box2 {
    background-color: blue
}

#box3 {
    background-color: red;
}